<app-about-us-head></app-about-us-head>

<div class="container my-24 px-6 mx-auto">

  <section class="mb-32 text-gray-800 text-center">

    <h2 class="text-3xl font-bold mb-12">Team Members:</h2>

    <div class="grid md:grid-cols-3 gap-x-6 lg:gap-x-12">
      <div class="mb-12 md:mb-0">
          <div class="mb-4">
              <img src="https://ca.slack-edge.com/T0340MNTY2H-U034GD5688P-ac13d0e721fb-512" class="max-w-full h-auto rounded-full" alt="">
            </div>
        <h5 class="text-lg font-bold mb-4">Mehdi Ennabli</h5>
        <h6 class="font-medium text-blue-600 mb-4">Fullstack Developer</h6>
        
      </div>
      <div class="mb-12 md:mb-0">
          <div class="mb-4">
              <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="max-w-full h-auto rounded-full" alt="">
            </div>
        <h5 class="text-lg font-bold mb-4">Imen Zarrad</h5>
        <h6 class="font-medium text-blue-600 mb-4">Fullstack Developer</h6>
        
      </div>
      <div class="mb-0">
          <div class="mb-4">
              <img src="https://ca.slack-edge.com/T0340MNTY2H-U034X1XNQUS-cd10d0e77d7d-512" class="max-w-full h-auto rounded-full" alt="">
            </div>
        <h5 class="text-lg font-bold mb-4">Ahmed Azzabi</h5>
        <h6 class="font-medium text-blue-600 mb-4">Fullstack Developer</h6>
        
      </div>
      <div id="me" class="mb-0">
        <div class="mb-4">
            <img src="https://ca.slack-edge.com/T0340MNTY2H-U034R58T477-71db704f397c-512" class="max-w-full h-auto rounded-full" alt="">
          </div>
      <h5 class="text-lg font-bold mb-4">Sarah Kacem</h5>
      <h6 class="font-medium text-blue-600 mb-4">Fullstack Developer</h6>
      
    </div>
    </div>

  </section>

</div>

<app-about-us-trusted-by></app-about-us-trusted-by>
<app-about-us-top-quality></app-about-us-top-quality>
<app-about-us-why></app-about-us-why>
<app-about-us-testimonial></app-about-us-testimonial>