<section class="h-screen">
  <div id="cont" class="px-6 h-full text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
      >
        <img
          src="https://img.freepik.com/vecteurs-libre/illustration-concept-connexion-mobile_114360-83.jpg?w=2000"
          class="w-full"
          alt="Sample image"
        />
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form id="cont" [formGroup]="loginForm">
          <!-- Email input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              name="email"
              placeholder="Email"
              formControlName="email"
            />
            <div
              *ngIf="
                loginForm.controls['email'].invalid &&
                (loginForm.controls['email'].dirty ||
                  loginForm.controls['email'].touched)
              "
            >
              <span
                *ngIf="loginForm.controls['email'].errors.email"
                class="error"
              >
                Email Invalid !!
              </span>
              <span
                *ngIf="loginForm.controls['email'].errors.required"
                class="error"
              >
                Email is required !!
              </span>
            </div>
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              name="password"
              placeholder="Password"
              formControlName="password"
            />
            <div
              *ngIf="
                loginForm.controls['password'].invalid &&
                (loginForm.controls['password'].dirty ||
                  loginForm.controls['password'].touched)
              "
            >
              <br />
              <span
                *ngIf="loginForm.controls['password'].errors.minlength"
                class="error"
              >
                password must have at least 8 characters !!
              </span>
              <span
                *ngIf="loginForm.controls['password'].errors.maxlength"
                class="error"
              >
                password must have at most 12 characters !!
              </span>
            </div>
          </div>

          <div class="text-center lg:text-left">
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              (click)="login(loginForm.value)"
              class="inline-block px-7 py-3 mb-2 md:mb-0 md:mr-2 bg-gray-900 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-800 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Login
            </button>
            <div class="text-grey-dark mt-6">
              <a
                class="no-underline border-b border-blue text-blue"
                href="../login/"
              >
                Forgot your password? </a
              >.
            </div>

            <div class="text-center text-sm text-grey-dark mt-4">
              By signing in, you agree to the
              <a
                class="no-underline border-b border-grey-dark text-grey-dark"
                href="#"
              >
                Terms of Service
              </a>
              and
              <a
                class="no-underline border-b border-grey-dark text-grey-dark"
                href="#"
              >
                Privacy Policy
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
