
<br><br>
<div id="box" class="flex justify-center">
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <h2 class="heading" style="color: #896195 ;">Welcome, <br> your Shopping Cart:</h2>
&nbsp;
<div class="row">
  <div class="col md-7">
    <div *ngIf="cart.products.length">
      <app-cart-element
        *ngFor="let product of cart.products"
        [p]="product"
        [delete]="del"
        [up]="ngOnInit"
      ></app-cart-element>
    </div>
  </div>

  <div class="col-12">
    <hr />
    <div class="total" style="color: #8706ab">
      Order Total: {{ !cart.products.length ? 0 : total }} TND
      <span class="font-weight-bold"></span>
      <hr />
      <button id="cancel" class="btn btn-outline" (click)="cancel()">
        Cancel
      </button>
      &nbsp;
      <button
        (click)="clearCart()"
        id="empty"
        class="btn btn-outline"
        *ngIf="cart.products.length"
      >
        Empty Cart
      </button>
      &nbsp;
      <button
        (click)="postCart()"
        id="checkout"
        class="btn btn-outline"
        *ngIf="cart.products.length"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
  </div>
</div>