<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Website</th>
        <th scope="col" class="px-6 py-3">Message</th>
        .
      </tr>
    </thead>
    <tbody *ngFor="let ticket of allTickets">
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 dark:text-black whitespace-nowrap"
        >
          {{ ticket.name }}
        </th>
        <td class="px-6 py-4 dark:text-black">{{ ticket.email }}</td>
        <td class="px-6 py-4 dark:text-black">{{ ticket.website }}</td>
        <td class="px-6 py-4 dark:text-black">{{ ticket.message }}</td>
        <td class="px-6 py-4 text-right dark:text-black">
          <button
            (click)="deleteTicket(ticket._id)"
            type="button"
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            Solved
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
