
<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
  <ul
    role="list"
    class="border border-gray-200 rounded-md divide-y divide-gray-200"
  >
    <li class="pl-8 pr-4 py-3 flex items-center justify-between text-sm">
      <div class="w-0 flex-1 flex items-center">
        <strong
          ><span id="textFont" class="ml-2 flex-1">
            {{ prod ? prod.productName : "" }}
          </span></strong
        >
      </div>
    </li>
    <li class="pl-8 pr-4 py-3 flex items-center justify-between text-sm">
      <div class="w-0 flex-1 flex items-center">
        <span id="textFont" class="ml-2 flex-1 w-0 truncate"> {{ product.quantity }} </span>
      </div>
    </li>
  </ul>
</dd>
