  <br><br><br><br><br><br>
  <div id="cont">
  <div class="beauty-container">
  <section>
    <br />
    <div class="mb-6 lg:mb-0">
      <div class="block rounded-lg shadow-lg bg-white h-full">
        <div class="p-6 border-b border-gray-300 text-center">
          <p class="uppercase mb-4 text-sm" style="color:rgb(105, 15, 105) ; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Your Information</p>
        </div>
      <div class="p-6">
        <ol class="list-inside">
          <li class="mb-4 flex items-center" style="color:rgb(148, 28, 148) ; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Username: &nbsp;
            <small id="textFont"  class="text-gray-500">{{userInfo?userInfo.userName:""}}</small>
            </li>
            <li class="mb-4 flex items-center" style="color:rgb(148, 28, 148) ; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Phone Number: &nbsp;
              <small id="textFont"  class="text-gray-500">{{userInfo?userInfo.phoneNumber:""}}</small>
              </li>
              <li class="mb-4 flex items-center" style="color:rgb(148, 28, 148) ; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">E-mail: &nbsp;
                <small id="textFont"  class="text-gray-500">{{userInfo?userInfo.email:""}}</small>
                </li>
                <li class="mb-4 flex items-center" style="color:rgb(148, 28, 148) ; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Adress: &nbsp;
                  <small id="textFont"  class="text-gray-500">{{userInfo?userInfo.adress:""}}</small>
                  </li>
        </ol>
      </div>
      </div>
    </div>
    </section>
<app-user-edit></app-user-edit>
</div>
</div>

  
            