@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
body {
  background-color: rgb(254, 254, 254);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
img {
  height: 600px;
  width: 600px;
}
/* .caroursel .overlay {
  width: 80%;
  position: absolute;
  top: 50;
  transform: translateY(-50);
  left: 10%;
  padding: 0.4rem 1.5rem;
  text-align: left;
  background-color: rgba(red, green, blue, alpha);
} */
.App {
  max-width: 900px;
  margin: 0 auto;
}
.check-our {
  text-align: center;
}
.btn {
  border: none;
  background: transparent;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  background: rgb(246, 112, 112);
  border-radius: 5px;
  transition: 0.3s all ease-out;
  cursor: pointer;
  width: 9rem;
  height: 3rem;
  text-align: center;
  
}
.btn1{
  border: none;
  background: transparent;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  background: rgb(246, 112, 112);
  border-radius: 5px;
  transition: 0.3s all ease-out;
  cursor: pointer;
  width: 9rem;
  height: 3rem;
  text-align: center;
  margin-top: -2rem;
}

.btn:hover {
  background: rgb(173, 40, 55);
  background: rgb(201, 92, 92);
}